body {
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  background-color: #F5F7FB;
  color: #293264;
  background-image: url("../public/yellow-blob.png");
  background-position: right top;
  background-repeat: no-repeat;
  width: 90% ;
}

button{
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 5px;
  padding:10px 30px;
}

.blueBlob{
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 18px;
}

.first-page{
  text-align: center;
  padding-top: 100px;
}

.questions-page{
  margin: 50px 0;
}

.question-btn{
  margin: 0 10px;
  max-width: 200px;
  border: solid 2px #4D5B9E;
  border-radius: 5px;
  background-color: #F5F7FB;
  color: #293264;
}

ul {
  list-style: none;
}
li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 20px;
}
input {
  visibility:hidden;
}

label {
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #4D5B9E;
  color: #293264;
  border-radius: 5px; 
}

input:checked + label {
  color: #293264;
  border-color: #717aa5;
  background-color: #D6DBF5;
}

input:unchecked + label {
  color: #293264;
  border-color: #4D5B9E;
  background-color: none;
}

#ans + label{
  color: #aeb5dd;
  border-color: #c0c6e2;
  background-color: none;
}

#wrong--ans + label{
  color: #717aa5;
  border: none;
  background-color: #F8BCBC;
}

#correct--ans + label{
  color: #293264;
  border: none;
  background-color: #94D7A2;
}

.score{
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewScore{
  text-align: center;
}